language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

branches:
    only:
        - master
        
before_script: 
    - cp app/config/parameters.yml.dist app/config/parameters.yml
    - composer self-update
    - composer install --no-interaction --dev
    - bin/console doctrine:database:create --env=test > /dev/null
    - bin/console doctrine:schema:create --env=test > /dev/null
    
script: 
    - phpunit --coverage-text --coverage-clover ./clover.xml
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover ./clover.xml
