.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #605ca8;
}

.dropdown-menu > li > a.delete:hover {
    background-color: #dd4b39;
    color: #FFFFFF;
}

.main-footer a {
    color: #000;
}

.box.box-solid.box-purple {
    border: 1px solid #605ca8;
}

.box.box-purple {
    border-top-color: #605ca8;
}

.box.box-solid.box-purple>.box-header {
    color: #FFF;
    background-color: #605ca8;
}