.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #dd4b39;
}

.dropdown-menu > li > a.delete:hover {
    background-color: #dd4b39;
    color: #FFFFFF;
}

.main-footer a {
    color: #000;
}