AppBundle\Entity\Dependency:
    type: entity
    table: dependency

    manyToOne:
        project:
          targetEntity: Project
          inversedBy: dependencies
          joinColumn:
            name: project_id
            referencedColumnName: id
          cascade: ["persist"]
    id:
        id:
            type: integer
            generator: { strategy: AUTO }

    fields:
        package:
            type: string
            length: 255
        manager:
            type: string
            length: 255
        currentVersion:
            type: text
            nullable: true
            column: current_version
        isUpdate:
            type: boolean
            column: is_update
        createdAt:
            type: datetime
            column: created_at
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            column: updated_at
            gedmo:
                timestampable:
                    on: update